#building {
	width: 450px;
	height: 650px;
	background: rgb(33, 131, 101);
	position: absolute;
	border-radius:15px;
	left:15px;
	top:15px;
	bottom:15px;
	padding:15px;
	left: 400px;
  
  }
  #building  #floor{
	width: 100px;
	height: 54px;
	background: rgba(199, 87, 13, 0.822);
	position: relative;
	left: 30px;
	margin-bottom: 10px;
	
  }
  #building #floor #r{
	width: 40px;
	height: 40px;
	background: rgb(201, 161, 32);
	border-block-end-color: chocolate;
	position:absolute;
	
	left:5px;
	top:5px;
	bottom:0;
	right:0;
  
  
  }
table {
	width: 100%;
	table-layout: fixed;
	border-spacing:7px 7px;
}

td {
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}

.left-elevator-door-moved {
	transform: translate(-125px);
	transition: 3s;

}

.right-elevator-door-moved {
	transform: translate(125px);
	transition: 3s;
}

#container {
	height: 600px;
}

#feedback-panel {
	width: 80px;
	height: 45px;
	margin: 10px 10px 10px 75px;
	background-color: black;
	color: red;
	display: flex;
	align-items: center;
	position: relative;
	bottom: 550px;
	left: 300px;
}
#arrived-notification {
	display: inline;
	margin-left: 13px;
	margin-top: 7px;
	font-size: 28px;
	flex: 1;
}

#directional-arrows {
	flex-direction: column;
	margin-left: 10px;
	flex: 1;
}


#floor-number {
	display: inline;
	margin-left: 13px;
	font-size: 28px;
	flex: 1;
}

#elevator {
	width: 50px;
	height: 60px;
	background-color: white;
	border-block:black ;
	display: inline-flex;
	overflow: hidden;
	position: relative;
    top: -120px;
	right: -30%;
	
}

#left-elevator-door {
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
	width: 50%;
	height: 100%;
	background-color: #bcc6cc;
	border-right: 3px solid black;
	align-self: left;
	transition: 3s;

}

#right-elevator-door {
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
	width: 50%;
	height: 100%;
	background-color: #bcc6cc;
	border-left: 3px solid black;
	transition: 3s;

}

#panel {
	background-color: #bcc6cc;
	border: 1px solid black;
	width: 60px;
	height: 210px;
	position: relative;
	bottom: 100%;
	left: 400px;
	

}

#panel-display {
	background-color: #000000;
	height: 12px;
	width: 50%;
	margin: 5px auto;
	text-align: center;
	color: red;
	padding: 5px;
	
}

#panel-input {
	width: 100%;
	display: block;
	margin: 0 auto;
}

#enter {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	margin: 1px auto;
	width: 80%;
	cursor: pointer;
	bottom: 100%;
	left: 400px;


}

.hide {
	display: none !important;
}